.navbar {
    background-color: #1f5142; 
    position :sticky;
    top: 0; 
    right: 0; 
    width: 100%; 
    z-index: 999; 
    border-radius: 0;
    border-bottom: 1px solid white;
  }
  }
  .navbar .navbar-brand {
   color: #fff;
   font-size: large;
   font-weight: bold;
  }
  .navbar .nav-link {
   color: #fff;
   font-size: large;
  }

  .navbar .nav-link.active {
    color: #fff;
    font-size: large;
  }
@media screen {
    
}